html{
    scroll-behavior: smooth;
}
.bg-purple{
    background-color: rgb(152, 135, 179);
    color: rgb(51, 18, 82);
}
main .alert{
    position: absolute;
    z-index: 999;
    top: 5;
}
footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 30px;
}